.text-bold {
  font-weight: bold;
}

.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 40, 95, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#nav-logo {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-text {
  color: #00285f;
  transition: color 0.2s;
}

.nav-tab {
  font-size: 1em;
}

.nav-text:hover {
  color: #204272;
}

.nav-text h4 {
  font-weight: bolder;
}

.main-menu {
  display: flex;
  width: 380px;
  font-size: 1em;
  justify-content: space-between;
}

.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 576px) {
  .navbar-custom {
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    padding-right: 10px;
  }
  .main-menu {
    margin-left: auto;
    width: auto;
    gap: 40px;
  }
}

@media (min-width: 1280px) {
  .navbar-custom {
    padding-left: 140px;
    padding-right: 140px;
  }
}
